@font-face {
  font-family: "Nexa";
  src: url("../../../fonts/NexaLight.woff2") format("woff2"),
    url("../../../fonts/NexaLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../../../fonts/NexaBold.woff2") format("woff2"),
    url("../../../fonts/NexaBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../../../fonts/Nexa-Black.woff2") format("woff2"),
    url("../../../fonts/Nexa-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../../../fonts/Nexa-Bold.woff2") format("woff2"),
    url("../../../fonts/Nexa-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../../../fonts/Nexa-Book.woff2") format("woff2"),
    url("../../../fonts/Nexa-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../../../fonts/Nexa-Heavy.woff2") format("woff2"),
    url("../../../fonts/Nexa-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../../../fonts/Nexa-Light.woff2") format("woff2"),
    url("../../../fonts/Nexa-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../../../fonts/Nexa-Thin.woff2") format("woff2"),
    url("../../../fonts/Nexa-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../../../fonts/Nexa-XBold.woff2") format("woff2"),
    url("../../../fonts/Nexa-XBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../../../fonts/Nexa-Regular.woff2") format("woff2"),
    url("../../../fonts/Nexa-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Typography */
h1 {
  font-size: 50px;
}
h2 {
  font-size: 36px;
  font-weight: 900;
}
h3 {
  font-size: 34px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}

p {
  font-size: 16px;
  line-height: 1.8em;
}

.color {
  &--danger {
    color: $red;
  }
}
.noBreak {
  white-space: nowrap;
}

@mixin typography-1160 {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 38px;

    &.lg {
      font-size: 44px;
    }
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
    &.xlg {
      font-size: 28px;
    }
  }
}

@mixin typography-1025 {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 34px;

    &.lg {
      font-size: 40px;
    }
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 26px;
  }
  h5 {
    font-size: 22px;
  }
  h6 {
    font-size: 18px;
  }

  p {
    font-size: 20px;
    line-height: 1.6em;

    &.xlg {
      font-size: 28px;
    }
  }
}

@mixin typography-940 {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 32px;

    &.lg {
      font-size: 36px;
    }
  }
  p {
    font-size: 18px;
    line-height: 1.6em;

    &.sm {
      font-size: 16px;
    }
    &.xlg {
      font-size: 24px;
    }
  }
}

@mixin typography-768 {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;

    &.lg {
      font-size: 32px;
    }
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
    line-height: 1.6em;

    &.sm {
      font-size: 16px;
    }
    &.xlg {
      font-size: 20px;
    }
  }
}
@mixin typography-580 {
  p {
    line-height: 1.5em;

    &.sm {
      font-size: 14px;
    }
    &.xlg {
      font-size: 18px;
    }
  }
}
