@font-face {
  font-family: "Nexa";
  src: url("../../../fonts/NexaLight.woff2") format("woff2"),
    url("../../../fonts/NexaLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../../../fonts/NexaBold.woff2") format("woff2"),
    url("../../../fonts/NexaBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../../../fonts/Nexa-Black.woff2") format("woff2"),
    url("../../../fonts/Nexa-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../../../fonts/Nexa-Bold.woff2") format("woff2"),
    url("../../../fonts/Nexa-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../../../fonts/Nexa-Book.woff2") format("woff2"),
    url("../../../fonts/Nexa-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../../../fonts/Nexa-Heavy.woff2") format("woff2"),
    url("../../../fonts/Nexa-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../../../fonts/Nexa-Light.woff2") format("woff2"),
    url("../../../fonts/Nexa-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../../../fonts/Nexa-Thin.woff2") format("woff2"),
    url("../../../fonts/Nexa-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../../../fonts/Nexa-XBold.woff2") format("woff2"),
    url("../../../fonts/Nexa-XBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../../../fonts/Nexa-Regular.woff2") format("woff2"),
    url("../../../fonts/Nexa-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Typography */
h1 {
  font-size: 50px;
}
h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 900;
}
h3 {
  font-size: 34px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}

p {
  font-size: 16px;
  line-height: 1.8em;
  &.sm {
    font-size: 8px;
    line-height: 8px;
  }
}

.color {
  &--danger {
    color: $red;
  }
}
.noBreak {
  white-space: nowrap;
}

@mixin typography-1130 {
  h2 {
    font-size: 32px;
    line-height: 32px;
  }
  h6 {
    font-size: 13px;
  }
}
@mixin typography-768 {
  h2 {
    font-size: 28px;
    line-height: 28px;
  }
}
@mixin typography-460 {
  h2 {
    font-size: 25px;
    line-height: 25px;
  }
}
