$primary: #baff00;
$secondary: #59317d;
$black: #0A080A;
$black-1: #2B2B2B;
$black-2: #2B2B2B;
$black-bg: #19141d;
$blue: #240c3d;
$blueDark: #120c18;
$yellow: #f4c315;
$white: #fff;
$gray: #98a1b6;
$gray2: #969696;
$gradient: linear-gradient(90deg, #baff00 0%, #06ffcc 100%);
$gradient2: linear-gradient(90deg, #baff00 25%, #06ffcc 75%);
$red: #bc2a2a;

$font-primary: "Nexa", sans-serif;
