$primary: #baff00;
$secondary: #59317d;
$black: #101010;
$black-1: #362f3b;
$black-2: #322a38;
$black-bg: #19141d;
$white: #fff;
$gray: #a79fad;
$gradient: linear-gradient(90deg, #baff00 0%, #06ffcc 100%);
$gradient2: linear-gradient(90deg, #baff00 25%, #06ffcc 75%);
$red: #bc2a2a;

$font-primary: "Nexa", sans-serif;
