/// #section productInfo
.productInfo {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 16px 40px 26px;
    background: $blueDark;
    border: 1px solid $blue;
    border-radius: 8px;
    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
      max-width: 262px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &-details {
      width: 75%;
      margin-left: 26px;
      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-text {
        margin-bottom: 14px;
        h2 {
          margin-bottom: 14px;
        }
        p {
          font-size: 16px;
          line-height: 16px;
          display: flex;
          align-items: center;
          font-weight: 700;
          span {
            margin-left: 8px;
            padding: 7px 12px;
            border: 1px solid $blue;
            border-radius: 4px;
            font-weight: 400;
          }
        }
      }
      &-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: 20px;
        max-width: 482px;
      }
      &-social {
        margin-left: 16px;
        position: relative;
        max-width: 272px;
        &::before {
          content: "";
          width: 1px;
          height: 100%;
          background-color: $blue;
          position: absolute;
          left: -18px;
          top: 50%;
          transform: translateY(-50%);
        }
        h6 {
          display: flex;
          align-items: center;
          text-transform: capitalize;
          font-weight: 400;
          margin-bottom: 12px;
          &:last-child {
            margin-bottom: 0;
          }
          p {
            color: $yellow;
          }
          span {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
  &Item {
    background-color: $blue;
    width: calc(50% - 6px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 6px 7px 8px;
    border-radius: 4px;
    margin: 6px 0;
    p {
      font-size: 14px;
      line-height: 15px;
      display: flex;
      align-items: center;
      span {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 4px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          margin-top: -1px;
        }
      }
    }
    h6 {
      text-transform: uppercase;
      display: flex;
      align-items: center;
      font-weight: 400;
      span {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          margin-top: -1px;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  &Socials {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    a {
      &:last-child {
        margin-right: 0;
      }
    }
    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $blue;
      border-radius: 8px;
      padding: 2px 8px;
      @include transition;
      p {
        font-size: 14px;
        line-height: 14px;
        color: $white;
        @include transition;
      }
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        margin-right: 4px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &:hover {
        border-color: $primary;
        p {
          color: $primary;
        }
      }
    }
  }
}
@mixin productInfo-1130 {
  .productInfo {
    &__inner {
      &-details {
        &-text {
          p {
            font-size: 15px;
          }
        }
      }
    }
    &Item {
      p {
        font-size: 13px;
      }
    }
  }
}
@mixin productInfo-940 {
  .productInfo {
    &__inner {
      &-image {
        width: calc(40% - 20px);
        max-width: 300px;
      }
      &-details {
        width: calc(60% - 20px);
        &-items {
          max-width: unset;
          margin: 0 0 16px 0;
        }
        &-wrapper {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
        }
        &-social {
          padding: 20px 0 0 0;
          width: 100%;
          max-width: unset;
          margin: 0;
          &::before {
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
          }
        }
      }
    }
    &Item {
      p {
        font-size: 13px;
      }
    }
  }
}
@mixin productInfo-768 {
  .productInfo {
    &__inner {
      padding: 20px 16px 30px;
      &-image {
        width: calc(45% - 10px);
      }
      &-details {
        width: calc(55% - 10px);
        &-text {
          margin-bottom: 10px;
          p {
            font-size: 14px;
          }
          h2 {
            margin-bottom: 10px;
          }
        }
      }
    }
    &Item {
      padding: 6px 6px 6px 8px;
      p {
        font-size: 12px;
      }
      h6 {
        font-size: 12px;
      }
    }
  }
}
@mixin productInfo-680 {
  .productInfo {
    &__inner {
      flex-direction: column;
      &-image {
        width: 100%;
        margin-bottom: 30px;
      }
      &-details {
        width: 100%;
        margin-left: 0;
        &-text {
          margin-bottom: 10px;
          p {
            font-size: 14px;
          }
          h2 {
            margin-bottom: 10px;
          }
        }
      }
    }
    &Item {
      padding: 6px 6px 6px 8px;
      p {
        font-size: 12px;
      }
      h6 {
        font-size: 12px;
      }
    }
  }
}
@mixin productInfo-460 {
  .productInfo {
    &__inner {
      flex-direction: column;
      &-image {
        width: 80%;
        margin-bottom: 30px;
      }
      &-details {
        width: 100%;
        margin-left: 0;
        &-text {
          margin-bottom: 10px;
          p {
            font-size: 13px;
          }
        }
        &-social {
          h6 {
            p {
              font-size: 14px;
            }
            span {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
    &Item {
      p {
        font-size: 11px;
      }
      h6 {
        font-size: 11px;
      }
    }
    &Socials {
    }
  }
}
@mixin productInfo-370 {
  .productInfo {
    &__inner {
      &-image {
        margin-bottom: 20px;
      }
      &-details {
        &-items {
        }
      }
    }
    &Item {
      width: 100%;
    }
  }
}
/// #section controls
.controls {
  &__inner {
    margin: 10px 0 0;
    &-tabs {
      display: flex;
      align-items: center;
      padding: 15px 20px 16px;
      background: $blueDark;
      border-bottom: 1px solid $blue;
      margin: 0 0 10px;
      &-button {
        margin-right: 30px;
        font-weight: 400;
        color: $white;
        position: relative;
        &:after {
          content: "";
          width: 0;
          height: 2px;
          background: $gradient;
          position: absolute;
          bottom: -17px;
          left: 0;
          @include transition;
        }
        &:last-child {
          margin-right: 0;
        }
        &.active {
          &:after {
            width: 100%;
          }
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
    &-tools {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 24px 18px 25px;
      background: $blueDark;
      border: 1px solid $blue;
      border-bottom: unset;
      border-radius: 8px 8px 0px 0px;
      &-search {
        display: flex;
        align-items: center;
        width: calc(40% - 20px);
      }
      &-filter {
        width: calc(60% - 20px);
        display: flex;
        align-items: center;
        justify-content: end;
        .dropdown {
          max-width: 200px;
          margin-right: 6px;
          &:last-child {
            margin-right: 0;
          }
        }
        .button {
          &--tool {
            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
    &-filter {
      padding: 22px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $blueDark;
      border: 1px solid $blue;
      border-radius: 8px 8px 0 0;
      &-body {
        display: flex;
        align-items: center;
      }
      .button {
        &--primary {
          background: unset;
          color: $gray2;
          padding: 15px 33px;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 700;
          &:hover {
            color: $primary;
          }
          &.active {
            background: $gradient;
            color: $blue;
          }
        }
        &--secondary {
          font-size: 16px;
          font-weight: 700;
          background: linear-gradient(90deg, #baff00 0%, #06ffcc 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          @include transition;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    &.filter {
      margin-top: 0;
    }
  }
}
@mixin controls-1025 {
  .controls {
    &__inner {
      &-tabs {
        padding: 13px 15px 14px;
        &-button {
          &::after {
            bottom: -15px;
          }
        }
      }
      &-tools {
        padding: 20px 15px;
      }
    }
  }
}
@mixin controls-940 {
  .controls {
    &__inner {
      &-tools {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-search {
          width: 100%;
          margin-bottom: 20px;
        }
        &-filter {
          width: 100%;
          justify-content: flex-start;
        }
      }
      &-filter {
        padding: 20px 25px;
        .button {
          &--primary {
            padding: 13px 27px;
            font-size: 15px;
          }
          &--secondary {
            font-size: 15px;
          }
        }
      }
    }
    .dropdown {
      &.bg {
        .dropdown {
          &__button {
            .arrow {
              margin-left: 20px;
            }
          }
        }
        .input {
          &--radio {
            label {
              p {
                font-size: 11px;
              }
              span {
                width: 22px;
                height: 22px;
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }
}
@mixin controls-680 {
  .controls {
    &__inner {
      &-filter {
        padding: 15px 20px;
        .button {
          &--primary {
            font-size: 14px;
            padding: 11px 24px;
          }
          &--secondary {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@mixin controls-580 {
  .controls {
    &__inner {
      &-tabs {
        padding: 13px 10px;
        &-button {
          &:after {
            bottom: -14px;
          }
        }
      }
      &-tools {
        padding: 15px 10px;
        &-search {
          width: 100%;
          margin-bottom: 20px;
        }
        &-filter {
          width: 100%;
          justify-content: flex-start;
        }
      }
    }
    .dropdown {
      &.bg {
        .dropdown {
          &__button {
            padding: 5px 10px;
            .arrow {
              margin-left: 20px;
              width: 20px;
              height: 20px;
            }
          }
          &__content {
            padding: 5px 10px;
          }
        }
      }
    }
  }
}
@mixin controls-460 {
  .controls {
    &__inner {
      &-tabs {
        &-button {
          font-size: 12px;
          margin-right: 15px;
        }
      }
      &-tools {
        &-filter {
          flex-wrap: wrap;
        }
      }
      .dropdown {
        width: 100%;
        max-width: unset;
        margin: 0 0 10px;
        &:first-child {
          z-index: 12;
        }
        &__content {
          z-index: 10;
        }
      }
    }
    .button {
      &--search {
        width: calc(100% - 85px);
        max-width: unset;
      }
    }
  }
}
@mixin controls-370 {
  .controls {
    &__inner {
      &-tabs {
        &-button {
          font-size: 11px;
        }
      }
      &-filter {
        padding: 10px 15px;
        .button {
          &--primary {
            font-size: 13px;
            padding: 9px 18px;
          }
          &--secondary {
            font-size: 13px;
          }
        }
      }
    }
  }
}
// #grid
.grid {
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 11px 9px 3px;
    border: 1px solid $blue;
    border-radius: 0px 0px 8px 8px;
  }
  .cartProduct {
    width: calc(20% - 6px);
    border-radius: 8px;
    position: relative;
    margin: 8px 0;
    /* Rectangle 10 */
    background: linear-gradient(
      158.14deg,
      rgba(219, 219, 219, 0.26) -23.44%,
      rgba(143, 143, 143, 0.03) 75.08%
    );
    border-radius: 8px;
    background-color: $black;
    &::before {
      content: "";
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      position: absolute;
      top: -1px;
      left: -1px;
      z-index: 1;
      background: linear-gradient(
        90deg,
        rgba(186, 255, 0, 0.19) -95.48%,
        rgba(6, 255, 204, 0.28) 4.52%
      );
      border-radius: 8px;
      z-index: -1;
    }
    &__image {
      width: 100%;
      padding-bottom: 112%;
      position: relative;
      background: $gray;
      border-radius: 8px 8px 0 0;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &__info {
      padding: 16px 8px 11px;
      h6 {
        font-weight: 400;
        margin-bottom: 10px;
        small {
          display: flex;
          font-size: 13px;
          background: linear-gradient(90deg, #baff00 0%, #06ffcc 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
      &-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        &-icons {
          display: flex;
          align-items: center;

          span {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          P {
            font-weight: 700;
            font-size: 12px;
            margin: 0 3px;
          }
        }
      }
      .button {
        &--border {
          span {
            font-size: 12px;
          }
        }
      }
    }
  }
  .cartNft {
    width: calc(25% - 15px);
    max-width: 255px;
    margin: 15px 0;
    position: relative;
    background: linear-gradient(
      158.14deg,
      rgba(219, 219, 219, 0.26) 0.43%,
      rgba(143, 143, 143, 0.03) 98.95%
    );
    border-radius: 8px;
    background-color: $black;
    &::before {
      content: "";
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      position: absolute;
      top: -1px;
      left: -1px;
      z-index: 1;
      background: linear-gradient(
        90deg,
        rgba(186, 255, 0, 0.19) 0%,
        rgba(6, 255, 204, 0.28) 100%
      );
      border-radius: 8px;
      z-index: -1;
    }
    &__image {
      width: 100%;
      padding-bottom: 112%;
      position: relative;
      background: $gray;
      border-radius: 8px 8px 0 0;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &__info {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 13px 10px 16px;
      p {
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
        margin-top: 1px;
      }
      span {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  &.nft {
    .grid {
      &__inner {
        border: unset;
        padding: 3px 0;
      }
    }
  }
}
@mixin grid-1130 {
  .grid {
    .cartProduct {
      &__info {
        padding: 14px 7px 10px;
        h6 {
          line-height: 20px;
        }
      }
    }
  }
}
@mixin grid-1025 {
  .grid {
    .cartProduct {
      width: calc(25% - 10px);
      &:nth-child(9) {
        display: none;
      }
      &:nth-child(10) {
        display: none;
      }
    }
    .cartNft {
      width: calc(25% - 10px);
    }
  }
}
@mixin grid-820 {
  .grid {
    .cartProduct {
      width: calc(33.3% - 10px);
      &:nth-child(9) {
        display: block;
      }
    }
    .cartNft {
      width: calc(33.3% - 15px);
      &:nth-child(7) {
        display: none;
      }
      &:nth-child(8) {
        display: none;
      }
    }
  }
}
@mixin grid-680 {
  .grid {
    .cartProduct {
      &__image {
        padding-bottom: 100%;
      }
      width: calc(50% - 10px);
      &:nth-child(10) {
        display: block;
      }
    }
    .cartNft {
      width: calc(50% - 10px);
      max-width: unset;
      &:nth-child(7) {
        display: block;
      }
      &:nth-child(8) {
        display: block;
      }
    }
  }
}
@mixin grid-580 {
  .grid {
    .cartProduct {
      width: calc(50% - 6px);
      &:nth-child(10) {
        display: block;
      }
    }
    .cartNft {
      width: calc(50% - 6px);
      margin: 10px 0;
      &__image {
        padding-bottom: 100%;
      }
      &__info {
        p {
          font-size: 14px;
          line-height: 14px;
        }
        span {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
@mixin grid-460 {
  .grid {
    .cartProduct {
      width: calc(50% - 5px);

      &__info {
        &-text {
          &-icons {
            span {
              width: 20px;
              height: 20px;
            }
            p {
              font-size: 11px;
            }
          }
        }
        h6 {
          font-size: 12px;
          line-height: 18px;
        }
        .button {
          &--border {
            span {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}
@mixin grid-370 {
  .grid {
    .cartProduct {
      width: 100%;
      max-width: 260px;
      margin: 10px auto;
    }
    .cartNft {
      width: 100%;
      max-width: 280px;
      margin: 10px auto;
      &__info {
        p {
          font-size: 14px;
          line-height: 14px;
        }
        span {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
// #collection
.creatCollection {
  margin-top: 14px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-image {
      width: calc(45% - 25px);
      border-radius: 8px;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        object-fit: cover;
        transform: translate(-50%, -50%);
      }
      .ratioImage {
        padding-bottom: 114%;
      }
    }
    &-form {
      width: calc(55% - 25px);
      background: $blueDark;
      padding: 31px 25px 34px;
      border-radius: 16px;
      border: 1px solid $blue;
      position: relative;
      z-index: 2;
      .form {
        &__buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 24px;
          button {
            width: calc(50% - 8px);
          }
        }
        &__file {
          width: 100%;
          margin-bottom: 24px;
          h5 {
            font-weight: 400;
            color: $gray2;
            margin-bottom: 16px;
            line-height: 16px;
          }
          button {
            width: 100%;
            padding: 16px 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            p {
              color: $gray2;
            }
            span {
              width: 24px;
              height: 24px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 12px;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            &::before {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              border-radius: 8px;
              border: 2px dashed $blueDark;
              background: linear-gradient($blueDark 0 0) padding-box,
                linear-gradient(90deg, #baff00 0%, #06ffcc 100%) border-box;
              z-index: -1;

              // background-image: url("../images/dashedBorder.png");
              // background-position: center;
              // background-repeat: no-repeat;
              // background-size: contain;
            }
          }
        }
        &__inputs {
          margin-bottom: 30px;
          input {
            width: 100%;
            padding: 14px 16px;
            color: $white;
            font-size: 16px;
            font-weight: 700;
            border: 1px solid $gray2;
            border-radius: 8px;
            background: transparent;
            margin-bottom: 16px;
            &::placeholder {
              color: $gray2;
            }
          }
          textarea {
            width: 100%;
            margin-bottom: 8px;
            padding: 14px 16px;
            min-height: 80px;
            color: $white;
            font-size: 16px;
            font-weight: 700;
            border: 1px solid $gray2;
            border-radius: 8px;
            background: transparent;
            resize: none;
            &::placeholder {
              color: $gray2;
            }
          }
          &-body {
            display: flex;
            align-items: center;
            justify-content: space-between;
            input {
              width: calc(50% - 8px);
              margin-bottom: 0;
            }
          }
        }
      }
      .button {
        &--primary {
          padding: 18px 25px;
          width: 100%;
          font-size: 16px;
          font-weight: 700;
          border-radius: 8px;
        }
        &--border {
          font-size: 16px;
          line-height: 17px;
          font-weight: 700;
          border-radius: 8px;
          padding: 18px 25px;
          &:after {
            border-radius: 8px;
          }
          &::before {
            border-radius: 8px;
          }
        }
      }
    }
  }
}
@mixin creatCollection-1130 {
  .creatCollection {
    &__inner {
      &-image {
        width: calc(50% - 15px);
      }
      &-form {
        width: calc(50% - 15px);
      }
    }
  }
}
@mixin creatCollection-1025 {
  .creatCollection {
    &__inner {
      &-image {
        width: calc(50% - 10px);
      }
      &-form {
        width: calc(50% - 10px);
        .button {
          &--primary {
            font-size: 15px;
            line-height: 15px;
            padding: 16px 23px;
          }
          &--border {
            font-size: 15px;
            line-height: 15px;
            width: calc(50% - 6px);
            padding: 16px 23px;
          }
        }
        .form {
          &__buttons {
          }
          &__file {
            h5 {
              font-size: 15px;
              line-height: 22px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
@mixin creatCollection-940 {
  .creatCollection {
    &__inner {
      &-image {
        width: calc(50% - 10px);
      }
      &-form {
        width: calc(50% - 10px);
        padding: 25px 15px 28px;
        .button {
          &--primary {
            font-size: 14px;
            line-height: 14px;
            padding: 14px 20px;
          }
          &--border {
            font-size: 14px;
            line-height: 14px;
            padding: 14px 20px;
          }
        }
        .form {
          &__buttons {
            margin-bottom: 15px;
            .button {
              &--primary {
                width: calc(50% - 6px);
              }
              &--border {
                width: calc(50% - 6px);
              }
            }
          }
          &__file {
            margin-bottom: 15px;
            button {
              padding: 12px 15px;
              p {
                font-size: 14px;
              }
              span {
                width: 20px;
                height: 20px;
              }
            }
            h5 {
              font-size: 14px;
              line-height: 16px;
              margin-bottom: 15px;
            }
          }
          &__inputs {
            margin-bottom: 20px;
            &-body {
              input {
                width: calc(50% - 6px);
              }
            }
            input {
              padding: 12px 14px;
              font-size: 14px;
              margin-bottom: 10px;
              &::placeholder {
                font-size: 14px;
              }
            }
            textarea {
              padding: 12px 14px;
              font-size: 14px;
              margin-bottom: 5px;
              &::placeholder {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
@mixin creatCollection-820 {
  .creatCollection {
    &__inner {
      flex-direction: column;
      &-image {
        width: 100%;
        max-width: 600px;
        margin: 0 auto 20px;
      }
      &-form {
        width: 100%;
        max-width: 600px;
      }
    }
  }
}
@mixin creatCollection-460 {
  .creatCollection {
    margin-top: 0;
    &__inner {
      &-image {
        margin: 0 auto 10px;
      }
      &-form {
        .button {
          &--primary {
            font-size: 13px;
            padding: 12px 15px;
          }
          &--border {
            font-size: 13px;
            padding: 12px 15px;
          }
        }
      }
    }
  }
}
@mixin creatCollection-370 {
  .creatCollection {
    &__inner {
      
      &-image {
        margin: 0 auto 10px;
      }
      &-form {
        padding: 20px 10px ;
        .button {
          &--primary {
            font-size: 12px;
            padding: 12px 10px;
          }
          &--border {
            font-size: 12px;
            padding: 12px 10px;
          }
        }
        .form{
          &__inputs{
            margin-bottom: 10px;
            input{
              font-size: 12px;
              padding: 10px 12px;
              &::placeholder{
                font-size: 12px;
              }
            }
          }
          &__file{
            h5{
              font-size: 12px;
            }
            button{
              padding: 10px 12px;
              p{
                font-size: 13px;
              }
              span{
                width: 18px;
                height: 18px;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}

// #productDetails
.productDetails {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-image {
      width: calc(43% - 16px);
      max-width: 445px;
      padding-bottom: 48.5%;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &-info {
      width: calc(57% - 16px);
      padding: 32px 21px 40px;
      border-radius: 16px;
      border: 1px solid $blue;
      background-color: $blueDark;
      h2 {
        font-weight: 700;
        margin-bottom: 10px;
      }
      &-tools {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        h5 {
          display: flex;
          align-items: center;
          p {
            font-size: 16px;
            font-weight: 400;
            margin-right: 11px;
            background: linear-gradient(90deg, #baff00 0%, #06ffcc 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
          button {
            display: flex;
            align-items: center;
            small {
              color: $gray2;
              font-size: 16px;
              font-weight: 400;
            }
            span {
              width: 24px;
              height: 24px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 11px;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }
        }
        .refresh {
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      &-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
        h5 {
          color: $gray2;
          font-weight: 400;
          line-height: 16px;
        }
        p {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          font-weight: 400;
          span {
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 3px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
      &-total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 16px;
        border-top: 1px solid $blue;
        margin-bottom: 25px;
        h5 {
          color: $white;
          font-weight: 700;
          line-height: 24px;
        }
        p {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          font-weight: 400;
          span {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 4px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
      &-pay {
        padding: 12px 14px;
        background: $blue;
        border-radius: 8px;
        position: relative;
        &-text {
          margin-bottom: 10px;
          display: flex;
          align-items: center;
        }
        span {
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          margin-right: 8px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        h5 {
          font-weight: 400;
        }
        p {
          font-size: 8px;
        }
        .arrow {
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 12px;
          right: 12px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}
