/// #section productInfo
.productInfo {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 16px 40px 26px;
    background: $blueDark;
    border: 1px solid $blue;
    border-radius: 8px;
    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
      max-width: 262px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &-details {
      width: 75%;
      margin-left: 26px;
      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-text {
        margin-bottom: 14px;
        h2 {
          margin-bottom: 14px;
        }
        p {
          font-size: 16px;
          line-height: 16px;
          display: flex;
          align-items: center;
          font-weight: 700;
          span {
            margin-left: 8px;
            padding: 7px 12px;
            border: 1px solid $blue;
            border-radius: 4px;
            font-weight: 400;
          }
        }
      }
      &-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: 20px;
        max-width: 482px;
      }
      &-social {
        margin-left: 16px;
        position: relative;
        max-width: 272px;
        &::before {
          content: "";
          width: 1px;
          height: 100%;
          background-color: $blue;
          position: absolute;
          left: -18px;
          top: 50%;
          transform: translateY(-50%);
        }
        h6 {
          display: flex;
          align-items: center;
          text-transform: capitalize;
          font-weight: 400;
          margin-bottom: 12px;
          &:last-child {
            margin-bottom: 0;
          }
          p {
            color: $yellow;
          }
          span {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 4px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
  &Item {
    background-color: $blue;
    width: calc(50% - 6px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 6px 7px 8px;
    border-radius: 4px;
    margin: 6px 0;
    p {
      font-size: 14px;
      line-height: 15px;
      display: flex;
      align-items: center;
      span {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 4px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          margin-top: -1px;
        }
      }
    }
    h6 {
      text-transform: uppercase;
      display: flex;
      align-items: center;
      font-weight: 400;
      span {
        margin-left: 3px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          margin-top: -1px;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  &Socials {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    a {
      &:last-child {
        margin-right: 0;
      }
    }
    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $blue;
      border-radius: 8px;
      padding: 2px 8px;
      @include transition;
      margin-right: 8px;
      p {
        font-size: 14px;
        line-height: 14px;
        color: $white;
        @include transition;
      }
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        margin-right: 4px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &:hover {
        border-color: $primary;
        p {
          color: $primary;
        }
      }
    }
    .button {
      &--social {
        margin-right: 8px;
      }
    }
  }
}
@mixin productInfo-1130 {
  .productInfo {
    &__inner {
      &-details {
        &-text {
          p {
            font-size: 15px;
          }
        }
      }
    }
    &Item {
      p {
        font-size: 13px;
      }
    }
  }
}
@mixin productInfo-940 {
  .productInfo {
    &__inner {
      &-image {
        width: calc(40% - 20px);
        max-width: 300px;
      }
      &-details {
        width: calc(60% - 20px);
        &-items {
          max-width: unset;
          margin: 0 0 16px 0;
        }
        &-wrapper {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
        }
        &-social {
          padding: 20px 0 0 0;
          width: 100%;
          max-width: unset;
          margin: 0;
          &::before {
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
          }
        }
      }
    }
    &Item {
      p {
        font-size: 13px;
      }
    }
  }
}
@mixin productInfo-768 {
  .productInfo {
    &__inner {
      padding: 20px 16px 30px;
      &-image {
        width: calc(45% - 10px);
      }
      &-details {
        width: calc(55% - 10px);
        &-text {
          margin-bottom: 10px;
          p {
            font-size: 14px;
          }
          h2 {
            margin-bottom: 10px;
          }
        }
      }
    }
    &Item {
      padding: 6px 6px 6px 8px;
      p {
        font-size: 12px;
      }
      h6 {
        font-size: 12px;
      }
    }
  }
}
@mixin productInfo-680 {
  .productInfo {
    &__inner {
      flex-direction: column;
      &-image {
        width: 100%;
        margin-bottom: 30px;
      }
      &-details {
        width: 100%;
        margin-left: 0;
        &-text {
          margin-bottom: 10px;
          p {
            font-size: 14px;
          }
          h2 {
            margin-bottom: 10px;
          }
        }
      }
    }
    &Item {
      padding: 6px 6px 6px 8px;
      p {
        font-size: 12px;
      }
      h6 {
        font-size: 12px;
      }
    }
  }
}
@mixin productInfo-460 {
  .productInfo {
    &__inner {
      flex-direction: column;
      &-image {
        width: 80%;
        margin-bottom: 30px;
      }
      &-details {
        width: 100%;
        margin-left: 0;
        &-text {
          margin-bottom: 10px;
          p {
            font-size: 13px;
          }
        }
        &-social {
          h6 {
            p {
              font-size: 14px;
            }
            span {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
    &Item {
      p {
        font-size: 11px;
      }
      h6 {
        font-size: 11px;
      }
    }
    &Socials {
    }
  }
}
@mixin productInfo-370 {
  .productInfo {
    &__inner {
      &-image {
        margin-bottom: 20px;
      }
      &-details {
        &-items {
        }
      }
    }
    &Item {
      width: 100%;
    }
  }
}
/// #section controls
.controls {
  &__inner {
    margin: 10px 0 0;
    &-tabs {
      display: flex;
      align-items: center;
      padding: 15px 20px 16px;
      background: $blueDark;
      border-bottom: 1px solid $blue;
      margin: 0 0 10px;
      &-button {
        margin-right: 30px;
        font-weight: 400;
        color: $white;
        position: relative;

        &:after {
          content: "";
          width: 0;
          height: 2px;
          position: absolute;
          background: rgba($white, 0.4);
          bottom: -17px;
          left: 50%;
          @include transition;
          transform: translateX(-50%);
        }
        &:last-child {
          margin-right: 0;
        }
        &.active {
          &:after {
            width: 100%;
            background: $gradient;
          }
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
    &-tools {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 24px 18px 25px;
      background: $blueDark;
      border: 1px solid $blue;
      border-bottom: unset;
      border-radius: 8px 8px 0px 0px;
      &-search {
        display: flex;
        align-items: center;
        width: calc(40% - 20px);
      }
      &-filter {
        width: calc(60% - 20px);
        display: flex;
        align-items: center;
        justify-content: end;
        .dropdown {
          max-width: 200px;
          margin-right: 6px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    &-filter {
      padding: 22px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $blueDark;
      border: 1px solid $blue;
      border-radius: 8px 8px 0 0;
      &-body {
        display: flex;
        align-items: center;
      }
      .button {
        &--primary {
          background: unset;
          color: $gray2;
          padding: 15px 33px;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 700;
          &:hover {
            color: $primary;
          }
          &.active {
            background: $gradient;
            color: $blue;
          }
        }
        &--secondary {
          font-size: 16px;
          font-weight: 700;
          background: linear-gradient(90deg, #baff00 0%, #06ffcc 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          @include transition;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    &.filter {
      margin-top: 0;
    }
    .button {
      &--social {
        width: 36px;
        height: 36px;
        background: $blue;
        margin-right: 12px;
        &:hover {
          background: $blueDark;
          svg {
            &.stroke {
              fill: unset;
              stroke: $primary;
            }
          }
        }
        svg {
          max-width: 24px;
          max-height: 24px;
          &.stroke {
            fill: unset;
            stroke: $white;
          }
        }
        &.bg {
          background: $blueDark;
          border-color: transparent;
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            border-color: $blue;
            svg {
              fill: $white;
            }
          }
          &.active {
            border: 1px solid $blue;
          }
        }
      }
    }
  }
}
@mixin controls-1025 {
  .controls {
    &__inner {
      &-tabs {
        padding: 13px 15px 14px;
        &-button {
          &::after {
            bottom: -15px;
          }
        }
      }
      &-tools {
        padding: 20px 15px;
      }
    }
  }
}
@mixin controls-940 {
  .controls {
    &__inner {
      &-tools {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-search {
          width: 100%;
          margin-bottom: 20px;
        }
        &-filter {
          width: 100%;
          justify-content: flex-start;
        }
      }
      &-filter {
        padding: 20px 25px;
        .button {
          &--primary {
            padding: 13px 27px;
            font-size: 15px;
          }
          &--secondary {
            font-size: 15px;
          }
        }
      }
    }
    .dropdown {
      &.bg {
        .dropdown {
          &__button {
            .arrow {
              margin-left: 20px;
            }
          }
        }
        .input {
          &--radio {
            label {
              p {
                font-size: 11px;
              }
              span {
                width: 22px;
                height: 22px;
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }
}
@mixin controls-680 {
  .controls {
    &__inner {
      &-filter {
        padding: 15px 20px;
        .button {
          &--primary {
            font-size: 14px;
            padding: 11px 24px;
          }
          &--secondary {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@mixin controls-580 {
  .controls {
    &__inner {
      &-tabs {
        padding: 13px 10px;
        &-button {
          &:after {
            bottom: -14px;
          }
        }
      }
      &-tools {
        padding: 15px 10px;
        &-search {
          width: 100%;
          margin-bottom: 20px;
        }
        &-filter {
          width: 100%;
          justify-content: flex-start;
        }
      }
    }
    .dropdown {
      &.bg {
        .dropdown {
          &__button {
            padding: 5px 10px;
            .arrow {
              margin-left: 20px;
              width: 20px;
              height: 20px;
            }
          }
          &__content {
            padding: 5px 10px;
          }
        }
      }
    }
    .button {
      &--social {
        width: 30px;
        height: 30px;
        svg {
          max-width: 21px;
          max-height: 21px;
        }
      }
    }
  }
}
@mixin controls-460 {
  .controls {
    &__inner {
      &-tabs {
        &-button {
          font-size: 12px;
          margin-right: 15px;
        }
      }
      &-tools {
        &-filter {
          flex-wrap: wrap;
        }
      }
      .input {
        &--search {
          width: calc(100% - 85px);
          input {
            max-width: unset;
          }
        }
      }
      .dropdown {
        width: 100%;
        max-width: unset;
        margin: 0 0 10px;
        &:first-child {
          z-index: 12;
        }
        &__content {
          z-index: 10;
        }
      }
    }
  }
}
@mixin controls-370 {
  .controls {
    &__inner {
      &-tabs {
        &-button {
          font-size: 11px;
        }
      }
      &-filter {
        padding: 10px 15px;
        .button {
          &--primary {
            font-size: 13px;
            padding: 9px 18px;
          }
          &--secondary {
            font-size: 13px;
          }
        }
      }
    }
  }
}
