.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 110px;
  min-height: 100%;
  position: relative;
}
.autoContainer {
  width: 100%;
  max-width: 1230px;
  padding: 0 60px;
  margin: 0 auto;
  position: relative;
}
.bubles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  .blur {
    width: 30%;
    height: 30%;
    max-width: 120px;
    max-height: 120px;
    background: #baff00;
    filter: blur(166px);
    pointer-events: none;
    position: absolute;
    &.top {
      top: 5%;
      right: 0;
    }
    &.bottomLeft {
      bottom: 0;
      left: 0;
    }
    &.middleLeft {
      top: 20%;
      left: 20%;
    }
    &.middleLeftUp {
      top: 30%;
      left: 0;
    }
    &.middleLeftBottom {
      top: 70%;
      left: -5%;
    }
    &.middleRigh {
      background: $yellow;
      top: 70%;
      right: -5%;
    }
  }
}
.dropdown {
  position: relative;
  z-index: 10;
  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 16px;
    background-color: $blue;
    border-radius: 8px;
    max-width: 192px;
    cursor: pointer;
    transition: 0.3s linear;
    position: relative;
    border: 1px solid transparent;
    box-sizing: border-box;
    &:hover {
      border-color: $primary;
    }
    span {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 13px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      &.arrow {
        margin: 0 0 0 44px;
        transition: 0.2s linear;
      }
    }
    &:after {
      content: "";
      height: 100%;
      width: 100%;
      transition: 0.2s linear;
      position: absolute;
      top: 6px;
      left: 0;
      pointer-events: none;
    }
    &-body {
      display: flex;
      align-items: center;
    }
    &.active {
      &:after {
        pointer-events: all;
      }
      span {
        &.arrow {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__content {
    width: 100%;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s linear;
    padding: 17px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background: $blueDark;
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    background: $blueDark;
    &-item {
      &-body {
        display: flex;
        align-items: center;
      }
    }
    &::after {
      content: "";
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      position: absolute;
      transition: 0.2s linear;
      opacity: 0;
      top: -1px;
      left: -1px;
      background: linear-gradient(
        90deg,
        rgba(186, 255, 0, 0.19) 0%,
        rgba(6, 255, 204, 0.28) 100%
      );
      border-radius: 8px;
      z-index: -2;
    }
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      transition: 0.1s linear;
      background: $blueDark;
      top: 0;
      left: 0;
      border-radius: 8px;
      z-index: -1;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      cursor: pointer;
      transition: 0.2s linear;
      &:hover {
        opacity: 0.8;
      }
      span {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.active {
      max-height: 400px;
      opacity: 1;
      pointer-events: all;
      &:after {
        opacity: 1;
      }
    }
  }
  &.bg {
    .dropdown {
      &__button {
        background: unset;
        border: 1px solid $blue;
        max-width: unset;
        padding: 5px 16px;
        font-size: 12px;
        &:after {
          display: none;
        }
      }
      &__content {
        background: $blue;
        box-shadow: unset;
        padding: 6px 16px;
        top: 100%;
        border: 1.5px solid $blue;
        border-radius: 0px 0px 4px 4px;
        .input--radio {
          margin-bottom: 12px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        &::before {
          display: none;
        }
        &:after {
          display: none;
        }
      }
    }
    &:hover {
      .dropdown__button {
        border-radius: 4px 4px 0px 0px;
      }
    }
  }
  &.big {
    .dropdown {
      &__button {
        max-width: unset;
        display: block;
        padding: 11px 12px 11px 14px;
        .arrow {
          position: absolute;
          top: 12px;
          right: 12px;
        }
        &-body {
          margin-bottom: 10px;
          span {
            margin-right: 8px;
          }
          p {
            line-height: 16px;
          }
        }
      }
      &__content {
        &-item {
          margin-bottom: 15px;
          &-body {
            margin-bottom: 6px;
            span {
              margin-right: 5px;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        p {
          font-size: 8px;
        }
      }
    }
  }
}
.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7em 1.4em;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  //font
  color: $white;
  font-style: normal;
  font-family: $font-primary;
  font-weight: 700;
  font-size: 26px;
  line-height: 27px;
  text-transform: capitalize;
  &--primary {
    color: $blue;
    border-color: transparent;
    border-radius: 50px;
    background: $gradient2;
    background-size: 200% 100%;
    background-position: 50%;
    transition: 0.3s ease-out;
    &:hover {
      opacity: 0.8;
      background-position: 80%;
    }
  }

  &--border {
    border: unset;
    border-radius: 100px;
    color: $white;
    font-weight: 700;
    padding: 5px 8px;
    border-radius: 4px;
    position: relative;
    background: #08050a;
    @include transition;
    span {
      color: $white;
      font-weight: 700;
      position: relative;
      z-index: 2;
      @include transition;
    }
    &::before {
      content: "";
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      background: linear-gradient(90deg, #baff00 0%, #06ffcc 100%);
      position: absolute;
      top: -1px;
      left: -1px;
      border-radius: 4px;
      z-index: -2;
      @include transition;
    }
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background: $gradient;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 4px;
      z-index: 1;
      @include transition;
      opacity: 0;
    }
    &:hover {
      span {
        color: $black;
      }
      &:after {
        opacity: 1;
      }
    }
  }

  &--social {
    padding: unset;
    width: 24px;
    height: 24px;
    border-color: $blue;
    border-radius: 4px;
    @include transition;
    &:hover {
      border-color: $primary;
      svg {
        fill: $primary;
      }
    }
    svg {
      width: 100%;
      height: 100%;
      max-width: 20px;
      max-height: 20px;
      fill: $white;
      @include transition;
    }
  }

  &--icon {
    width: 24px;
    height: 24px;
    padding: unset;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include transition;
  }
  svg {
    width: 100%;
    height: 100%;
    fill: $white;
    @include transition;
    &.stroke {
      fill: unset;
      stroke: $white;
    }
  }
  &--sm {
    width: 16px;
    height: 16px;
  }
}
.input {
  input {
    width: 100%;
    padding: 14px 16px;
    color: $white;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid $gray2;
    border-radius: 8px;
    background: transparent;
    &::placeholder {
      color: $gray2;
      transition: 0.2s ease-out;
    }
  }
  &--textarea {
    textarea {
      width: 100%;
      padding: 14px 16px;
      min-height: 80px;
      color: $white;
      font-size: 16px;
      font-weight: 700;
      border: 1px solid $gray2;
      border-radius: 8px;
      background: transparent;
      resize: none;

      &::placeholder {
        color: $gray2;
        transition: 0.2s ease-out;
      }
    }
  }
  &--radio {
    position: relative;
    @include transition;
    &:hover {
      label {
        opacity: 0.7;
      }
    }
    input {
      opacity: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      cursor: pointer;
      &:checked + label {
        p {
          background: linear-gradient(90deg, #baff00 0%, #06ffcc 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
        span {
          &::before {
            opacity: 0;
          }
          img {
            opacity: 1;
          }
        }
      }
    }
    label {
      display: flex;
      align-items: center;
      cursor: pointer;
      @include transition;
      p {
        font-size: 12px;
        line-height: 12px;
        font-weight: 700;
        @include transition;
      }
      span {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
        position: relative;
        @include transition;
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          background-image: url("../images/icons/tick-circle-white.svg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include transition;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          opacity: 0;
          @include transition;
        }
      }
    }
  }
  &--search {
    position: relative;

    input {
      display: flex;
      align-items: center;
      max-width: 255px;
      border-radius: 20px;
      padding: 10px 15px;
      background: $blue;
      border: 1px solid $blue;
      transition: 0.2s ease;
      color: $white;
      background: $blue;
      font-weight: 700;
      font-size: 12px;
      width: 100%;
      &::placeholder {
        color: $gray2;
        @include transition;
      }
      &:hover {
        border-color: rgba($primary, 0.2);
      }
      &:focus {
        &::placeholder {
          opacity: 0.3;
        }
      }
    }
    span {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
      @include transition;
      svg {
        width: 100%;
        height: 100%;
        fill: $gray2;
        @include transition;
      }
      &:hover {
        svg {
          fill: $primary;
        }
      }
    }
  }
}
.ratioImage {
  position: relative;
  padding-bottom: 100%;
  width: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
  &--contain {
    img {
      object-fit: contain;
    }
  }
}
.spinner {
  position: relative;
  display: block;
  font-size: inherit;
  width: 1em;
  height: 1em;
  animation: spinner 1.2s linear infinite;
  animation-direction: reverse;
  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/ico/spinner.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.signIn {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  display: none;
  &__inner {
    padding: 18px 20px 10px;
    box-shadow: 0px 4px 13px rgba(36, 12, 61, 0.6);
    border-radius: 12px;
    background: $blueDark;
    position: absolute;
    top: 93px;
    right: 60px;
    width: 100%;
    max-width: 285px;
    &::before {
      content: "";
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      position: absolute;
      top: -1px;
      left: -1px;
      background: linear-gradient(
        90deg,
        rgba(186, 255, 0, 0.19) 0%,
        rgba(6, 255, 204, 0.28) 100%
      );
      border-radius: 12px;
      z-index: -1;
    }
    &-header {
      display: flex;
      align-items: center;
      padding-bottom: 10px;
      position: relative;
      margin-bottom: 26px;
      position: relative;
      &-avatar {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 6px;
        background: $blue;
      }
      &-text {
        h5 {
          font-weight: 400;
          margin-bottom: 8px;
          line-height: 16px;
        }
        P {
          font-size: 12px;
          line-height: 12px;
          strong {
            font-weight: 400;
            background: linear-gradient(90deg, #baff00 0%, #06ffcc 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
        }
      }
      &-close {
        cursor: pointer;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: $blue;
        position: absolute;
        top: -12px;
        right: -12px;
        @include transition;
        border: 1px solid transparent;
        &::before {
          content: "";
          width: 12px;
          height: 1px;
          background: $white;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          @include transition;
        }
        &::after {
          content: "";
          width: 12px;
          height: 1px;
          background: $white;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
          @include transition;
        }
        &:hover {
          background: $blueDark;
          border-color: $primary;
          &::before,
          &:after {
            background: $primary;
          }
        }
      }
      &:after {
        content: "";
        width: calc(100% + 40px);
        height: 1px;
        position: absolute;
        left: -20px;
        bottom: 0;
        background: $blue;
      }
    }
    &-button {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      @include transition;
      .icon {
        margin-right: 5px;
        &.copy {
          width: 14px;
          height: 14px;
          margin: -13px 0 0 8px;
          svg {
            fill: $blueDark;
            &.stroke {
              stroke: $black-1;
            }
          }
        }
      }
      p {
        font-size: 12px;
        line-height: 12px;
        font-weight: 700;
        color: $white;
        @include transition;
      }
      &-bg {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: $blue;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        .icon {
          margin-right: 0;
        }
      }
      &-text {
        p {
          line-height: 18px;
          text-align: left;
        }
      }
      &:hover {
        .icon {
          svg {
            fill: $primary;
            &.stroke {
              stroke: $primary;
              fill: unset;
            }
          }
        }
        p {
          color: $primary;
        }
      }
    }
    &-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      padding-bottom: 16px;
      position: relative;
      &:after {
        content: "";
        width: calc(100% + 40px);
        height: 1px;
        position: absolute;
        left: -20px;
        bottom: 0;
        background: $blue;
      }
      h6 {
        font-weight: 400;
      }
      &-fund {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 11px;
        background: $blue;
        border-radius: 4px;
        p {
          line-height: 14px;
        }
        .icon {
          margin-right: 7px;
        }
      }
    }
  }
  &.active{
    display: block;
  }
}
@mixin components-1130 {
  .main {
    padding-top: 95px;
  }
  .dropdown {
    &__button {
      font-size: 13px;
      padding: 5px 13px;
      span {
        width: 22px;
        height: 22px;
      }
    }
    &__content {
      padding: 15px;
      &-item {
        p {
          font-size: 13px;
          line-height: 16px;
        }
      }
    }
  }
  .signIn {
    &__inner {
      top: 81px;
      right: 40px;
    }
  }
}
@mixin components-1025{
  .signIn {
    &__inner {
      top: 77px;
      right: 30px;
    }
  }
}
@mixin components-940 {
  .main {
    padding-top: 75px;
  }
  .button {
    &--boreder {
      span {
        font-size: 12px;
      }
    }
  }
  .icon {
    width: 22px;
    height: 22px;
  }
  .dropdown {
    &.big {
      .dropdown {
        &__button {
          &-body {
            p {
              font-size: 15px;
              line-height: 15px;
            }
          }
        }
        &__content {
          h6 {
            font-size: 12px;
            line-height: 12px;
          }
          &-item {
            &-body {
            }
          }
        }
      }
    }
  }
  .input {
    input {
      padding: 12px 14px;
      font-size: 14px;
      &::placeholder {
        font-size: 14px;
      }
    }
    &--textarea {
      textarea {
        padding: 12px 14px;
        font-size: 14px;
        &::placeholder {
          font-size: 14px;
        }
      }
    }
    &--search {
      input {
        padding: 10px 15px;
      }
    }
  }
  .signIn {
    &__inner {
      top: 61px;
      right: 25px;
    }
  }
}
@mixin components-820 {
  .button {
    font-size: 18px;
    &._lg {
      font-size: 24px;
    }
  }
  
}
@mixin components-768 {
  .button {
    padding: 0.5em 1.3em;
    font-size: 16px;
    &._lg {
      font-size: 20px;
    }
  }
  .signIn {
    &__inner {
      right: 15px;
    }
  }
}
@mixin components-580 {
  .input {
    &--search {
      input {
        font-weight: 400;
        &::placeholder {
          font-weight: 400;
        }
        padding: 10px 15px;
      }
    }
  }
}
@mixin components-460 {
  .main {
    padding-top: 70px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
  .button {
    &--icon {
      width: 22px;
      height: 22px;
    }
  }
  .signIn {
    &__inner {
      top: 53px;
    }
  }
}
@mixin components-370 {
  .main {
    padding-top: 65px;
  }
  .input {
    input {
      font-size: 12px;
      padding: 10px 12px;
      &::placeholder {
        font-size: 12px;
      }
    }
  }
  .signIn {
    &__inner {
      right: 10px;
    }
  }
}
