.header {
  background: $blueDark;
  border-bottom: 1px solid $blue;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 15;
  &__inner {
    padding: 25px 0 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-logo {
      width: 110px;
      max-height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include transition;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    &-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .nav {
    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 56px;
        a {
          color: $white;
          margin-right: 40px;
          @include transition;
          &:hover {
            color: $primary;
          }
          &:last-child {
            margin-right: 0;
          }
          &.active {
            color: $primary;
          }
        }
      }
      &-buttons {
        display: flex;
        align-items: center;
        .button {
          &--primary {
            padding: 16px 19px;
            font-size: 14px;
            letter-spacing: 0.3px;
          }
        }
      }
    }
  }
  .dropdown {
    margin-right: 26px;
  }
  .burger {
    cursor: pointer;
    display: block;
    position: relative;
    font-size: 10px;
    width: 2.6em;
    height: 2em;
    color: $white;
    background: transparent;
    transition: 0.2s ease;
    display: none;
    span,
    &::after,
    &::before {
      position: absolute;
      left: 50%;
      width: 100%;
      height: 0.32em;
      background-color: $primary;
      border-radius: 0.4em;
      transition: all 0.3s ease;
    }
    span {
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &::before {
      content: "";
      top: 0;
      transform: translateX(-50%);
    }
    &::after {
      content: "";
      bottom: 0;
      transform: translateX(-50%);
    }

    &:hover {
      opacity: 0.8;
    }

    &.active {
      color: $primary;

      &::before {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after {
        bottom: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
      }
      span {
        width: 0;
        opacity: 0;
        transition: 0.2s ease;
      }
    }
  }
  &.sticky {
    position: fixed;
    animation-name: sticky;
    animation-duration: 0.3s;
  }
}
@mixin header-1130 {
  .header {
    &__inner {
      padding: 20px 0 15px;
      &-logo {
        width: 100px;
      }
      .nav {
        &__inner {
          &-links {
            margin-right: 45px;
            a {
              font-size: 13px;
              line-height: 13px;
              margin-right: 30px;
            }
          }
          &-buttons {
            .button--primary {
              font-size: 13px;
              padding: 14px 17px;
              border-radius: 40px;
            }
          }
        }
      }
    }
  }
}
@mixin header-1025 {
  .header {
    &__inner {
      padding: 18px 0 14px;
      &-logo {
        width: 90px;
      }
      .nav {
        &__inner {
          &-links {
            margin-right: 35px;
            a {
              margin-right: 25px;
            }
          }
          &-buttons {
            .button--primary {
              font-size: 13px;
              padding: 14px 17px;
              border-radius: 40px;
            }
            .dropdown {
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
}
@mixin header-940 {
  .header {
    .nav {
      position: fixed;
      top: 59px;
      right: 0;
      width: 100%;
      height: calc(100% - 58px);
      background: rgba($black, 0.4);
      backdrop-filter: blur(4px);
      z-index: 0;
      transform: translate(100%);
      opacity: 1;
      pointer-events: none;
      transition: all 0s ease 0.25s, opacity 0.2s ease-in-out 0s;
      &__inner {
        position: absolute;
        top: -1px;
        right: -100%;
        width: 35%;
        min-width: 280px;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        box-sizing: border-box;
        background: $blueDark;
        box-shadow: 0px 4px 24px -1px rgba($black, 0.2);
        padding: 30px 25px;
        opacity: 1;
        transition: 0.3s linear;
        border: 1px solid $blue;
        overflow: auto;

        &-links {
          flex-direction: column;
          margin-right: 0;
          justify-content: center;
          align-items: center;
          width: 100%;
          a {
            margin: 0 0 30px 0;
            font-size: 14px;
            line-height: 14px;
          }
        }
        &-buttons {
          flex-direction: column;
          width: 100%;
          align-items: center;
          justify-content: center;
          .dropdown {
            margin: 0 0 30px 0;
          }
        }
      }
      &.active {
        pointer-events: all;
        transform: translate(0);
        .nav__inner {
          right: 0;
        }
      }
    }
    .burger {
      display: block;
    }
  }
}
@mixin header-460 {
  .header {
    &__inner {
      padding: 16px 0 12px;
      &-logo {
        width: 80px;
      }
    }
    .nav {
      top: 52px;
      height: calc(100% - 52px);
      &__inner {
        padding: 20px 15px;
        min-width: 220px;
      }
    }
    .burger {
      width: 20px;
      height: 16px;
      span,
      &:after,
      &:before {
        height: 2px;
      }
    }
  }
}
