.header {
  background: $blueDark;
  border-bottom: 1px solid $blue;
  position: absolute;
  top: 0;
  width: 100%;
  &__inner {
    padding: 25px 0 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-logo {
      width: 110px;
      max-height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include transition;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    &-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .button {
        &--primary {
          padding: 16px 19px;
          font-size: 14px;
          letter-spacing: 0.3px;
        }
      }
    }
  }
  .nav {
    &__inner {
      &-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
          color: $white;
          margin-right: 40px;
          @include transition;
          &:hover {
            opacity: 0.8;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  .dropdown {
    margin-right: 26px;
  }
}

// .header {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   padding: 25px 0;
//   z-index: 1;
//   transition: 0.3s ease-out;
//   transition-property: opacity, transform, padding;

//   &__inner {
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     gap: 30px;
//     z-index: 2;
//     font-size: 25px;

//     &-group {
//       display: flex;
//       align-items: center;
//       gap: 0.8em;
//     }
//     .button {
//       &--primary {
//         border: 1px solid $white;
//       }
//     }
//     .logo {
//       font-size: inherit;
//     }
//     .burger {
//       display: none;
//     }
//   }
//   &:after {
//     position: absolute;
//     content: "";
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: $gradient;
//     opacity: 0;
//     transition: 0.3s ease-out;
//   }
//   &:before {
//     position: absolute;
//     content: "";
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: $black-bg;
//     opacity: 0;
//     transition: 0.15s ease-out;
//   }

//   &.sticky {
//     position: fixed;
//     padding: 10px 0;
//     border-bottom: 1px solid rgba($white, 0.4);
//     transition-duration: 0.5s;
//     backdrop-filter: blur(8px);

//     &:after {
//       opacity: 0.2;
//     }
//     &:before {
//       opacity: 0.8;
//     }
//     .header__inner {
//       font-size: 22px;

//       .button {
//         font-size: 1.04em;
//       }
//     }
//   }

//   & + section {
//     margin-top: 105px;
//   }
// }
// .nav {
//   flex-grow: 1;
//   &__inner {
//     display: flex;
//     width: 100%;
//     align-items: center;
//     justify-content: space-between;
//     &-group {
//       display: flex;
//       align-items: center;
//     }
//     &-link {
//       position: relative;
//       display: flex;
//       align-items: center;
//       padding: 8px 20px;
//       //font
//       color: $white;
//       font-family: $font-primary;
//       font-style: normal;
//       font-weight: 400;
//       font-size: 16px;
//       line-height: 1;
//       transition: 0.3s ease-out;

//       &._sm {
//         padding: 5px 10px;
//       }
//       svg {
//         width: 1.5em;
//         height: 1.5em;
//         margin-right: 0.7em;
//       }
//       &:after {
//         content: "";
//         display: block;
//         position: absolute;
//         bottom: -3px;
//         left: 50%;
//         height: 0;
//         width: 60%;
//         background: $primary;
//         opacity: 0;
//         transition: 0.3s ease-out;
//         transform: translateX(-50%);
//       }
//       &:hover {
//         color: $primary;

//         &:after {
//           opacity: 1;
//           height: 2px;
//           width: 80%;
//         }
//       }
//     }
//   }
// }
.burger {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 10px;
  width: 2.6em;
  height: 2em;
  color: $white;
  background: transparent;
  transition: 0.2s ease;

  span,
  &::after,
  &::before {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 0.32em;
    background-color: currentColor;
    border-radius: 0.4em;
    transition: all 0.3s ease;
  }
  span {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &::before {
    content: "";
    top: 0;
    transform: translateX(-50%);
  }
  &::after {
    content: "";
    bottom: 0;
    transform: translateX(-50%);
  }

  &:hover {
    opacity: 0.8;
  }

  &.active {
    color: $primary;

    &::before {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      bottom: 50%;
      transform: translate(-50%, 50%) rotate(-45deg);
    }
    span {
      width: 0;
      opacity: 0;
      transition: 0.2s ease;
    }
  }
}

@mixin header-1025 {
  .header {
    padding: 25px 0;

    &__inner {
      justify-content: space-between;

      &-logo {
        padding-right: 20px;
        border-right: 2px solid rgba($white, 0.27);
        border: 0;
      }
      .burger {
        display: block;
        z-index: 2;
      }
    }
  }
  // .nav {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba($black, 0.4);
  //   backdrop-filter: blur(4px);
  //   z-index: 0;
  //   transform: translate(100%);
  //   opacity: 0;
  //   pointer-events: none;
  //   transition: all 0s ease 0.25s, opacity 0.2s ease-in-out 0s;

  //   &__inner {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 35%;
  //     min-width: 280px;
  //     height: 100%;
  //     flex-direction: column;
  //     align-items: flex-start;
  //     justify-content: flex-start;
  //     box-sizing: border-box;
  //     background: $white;
  //     box-shadow: 0px 4px 24px -1px rgba($black, 0.2);
  //     padding: 50px 25px;
  //     transform: translate(-100%);
  //     opacity: 0;
  //     transition: 0.15s ease-in-out 0s;

  //     &-group {
  //       flex-direction: column;
  //       align-items: flex-start;
  //       padding: 25px 0;
  //       gap: 8px;
  //       color: $black;
  //       border-top: 1px solid $white;
  //       width: 100%;

  //       &:first-child {
  //         border: 0;
  //       }
  //     }
  //     &-link {
  //       color: $black;

  //       &:after {
  //         left: 0;
  //         top: 50%;
  //         width: 2px;
  //         height: 80%;
  //         transform: translateY(-50%);
  //       }

  //       &:hover {
  //         color: $secondary;
  //         &:after {
  //           width: 2px;
  //           height: 100%;
  //         }
  //       }
  //     }
  //   }

  //   &.active {
  //     pointer-events: all;
  //     transform: translate(0);
  //     opacity: 1;
  //     transition: opacity 0.3s ease-in-out;

  //     .nav__inner {
  //       opacity: 1;
  //       transition: 0.3s ease-in-out 0.05s;
  //       transform: translate(0);
  //     }
  //   }
  // }
}

@mixin header-768 {
  .header {
    &__inner {
      font-size: 20px;

      &-group {
        gap: 8px;
      }
    }
    &.sticky {
      .header__inner {
        font-size: 16px;
        .button {
          font-size: 0.8em;
        }
      }
    }
  }
}

@mixin header-460 {
  .header {
    &__inner {
      font-size: 18px;
    }
    &.sticky {
      .header__inner {
        font-size: 12px;
        .button {
          font-size: 1em;
        }
      }
    }
  }
}
